<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 <display-name>jspServletLoginTest</display-name>
 <servlet>
  <description></description>
  <display-name>kkkkk</display-name>
  <servlet-name>loginServlet</servlet-name>
  <servlet-class>
  eHotel.servlet.EmployeeloginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>loginServlet</servlet-name>
  <url-pattern>/logintest</url-pattern>
 </servlet-mapping>
 
 <!-- add a customer register servlet here add a new customer in customer table -->
 <servlet>
 <description></description>
 <display-name>anythinghere</display-name>
 <servlet-name>custregServlet</servlet-name>
 <servlet-class>eHotel.servlet.CustomerRegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>custregServlet</servlet-name>
  <url-pattern>/cusRegister</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>custlogin</display-name>
 <servlet-name>custloginServlet</servlet-name>
 <servlet-class>eHotel.servlet.CustomerloginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>custloginServlet</servlet-name>
  <url-pattern>/custlogin</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <description></description>
 <display-name>roombook</display-name>
 <servlet-name>roombookServlet</servlet-name>
 <servlet-class>eHotel.servlet.RoombookServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>roombookServlet</servlet-name>
  <url-pattern>/roombook</url-pattern>
 </servlet-mapping>
 


 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
</web-app>
